#txtBusca{ float:left; background-color:transparent; padding-left:5px;	 font-size:18px; border:none; height:32px; width:226px; } 
#btnBusca{ float:left; cursor:pointer; } 
#divBusca img{ float:left; } 
#divBusca{ border:solid 10px rgba(47, 79, 79, 0.8); border-radius:10px; height:37px; width:450px; Style-margin:50;}
#divp { padding-left:1000px;
}
.banner{position:relative;
		margin-top:1;
		margin-left:200;
}
.foto{position:relative;
      top:160px;
	  left:-800px;
	  }
	  
.busca{position:relative;
		right:-580;
		top: -800;
		}
.ore{	position:relative;
		top:35px;
		left:305px;
		}


